.gist table tr {
	border-bottom: none;
}

html {
	font-size: 13pt;
	font-family: "Nunito", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.frontpage {
	font-size: 15pt;
	max-width: 65ch;
}
